<!doctype html>
<html lang="zh">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Video</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
    <style type="text/css">
        .btn{
             background: #62559f;
        }
        span{
            font-size: 20px;
            color: BLUE;
            font-weight: bold;
        }
    </style>
    <script>
        $(function(){
            $("button").click(function(){
                $.post("/cmd", this.id, function(data, status){});
            });
        });
    </script>
    
    <!-- {% if 0 == stop %}
    <meta http-equiv="refresh" content="2;url={{ url_for('test') }}">
    {% endif %} -->
  </head>

  <body>
    <div align="center" style="margin:0px auto;">
        <div class="t_b_box">
            <P> 温度: <span id="tem">{{ tem }} ℃</span></P>
        </div>
        <div class="t_b_box1">
            <P> 湿度: <span id="hum">{{ hum }} RH</span></P>
        </div>
        <div class="t_b_box1">
            <P> GPS: <span id="gpsdata"> {{ gpsdata }} </span></P>
        </div>
    </div>

    <div align="center" style="margin:0px auto;">
        <img id="bg" width="480" height="360" src="{{ url_for('video_feed') }}">
    </div>
    
    <div id="container" align="center" style="margin:0px auto;">
        <div>
            <button id="front" class="btn btn-lg btn-primary glyphicon glyphicon-circle-arrow-up"></button>
        </div>
        <div>
            <button id='leftFront' class="btn btn-lg btn-primary glyphicon glyphicon-circle-arrow-left"></button>
            <button id='stop' class="btn btn-lg btn-primary glyphicon glyphicon-stop"></button>
            <button id='rightFront' class="btn btn-lg btn-primary glyphicon glyphicon-circle-arrow-right"></button>
        </div>
        <div>
            <button id='rear' class="btn btn-lg btn-primary glyphicon glyphicon-circle-arrow-down"></button>
        </div>
         <div>
            <button id='leftRear' class="btn btn-lg btn-primary glyphicon">原地左转</button>
            <button id='rightRear' class="btn btn-lg btn-primary glyphicon">原地右转</button>
        </div>
    </div>
    <script language="JavaScript"> 
        function myrefresh() 
        {                
            $.getJSON("get_data", function(rev_data){
                document.getElementById("hum").innerText = rev_data.hum
                document.getElementById("tem").innerText = rev_data.tem
                document.getElementById("gpsdata").innerText = rev_data.gps
            }); 
            setTimeout('myrefresh()', 5000);
        } 
        setTimeout('myrefresh()', 5000);
    </script>        
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
  </body>
</html>